body {
    /* @media screen {
        
    } */
    background-color: rgb(0,0,0);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: large;
}

nav {
    width: 15em;
    /* max-width: ; */
    height: 10rem;
    background-color: red;
}

